{% extends 'inventoryApp/layout.html' %}

{% block title %}Book List{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="text-center">Book List</h2>
        <table class="table table-bordered table-hover text-center">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Genres</th>
                    <th>Author</th>
                    <th>Publication Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                    <tr>
                        <td>{{ book.title }}</td>
                        <td>
                            {% for genre in book.genres.all %}
                                {{ genre.name }}
                            {% endfor %}
                        </td>
                        <td>{{ book.author.name }}</td>
                        <td>{{ book.published_date }}</td>
                        {% if user.is_staff %}
                        <td>
                            <a href="{% url 'inventoryApp:book_update' book.id %}" class="btn btn-sm btn-primary">Edit</a>
                            <a href="{% url 'inventoryApp:book_delete' book.id %}" class="btn btn-sm btn-warning">Delete Book</a>
                        </td>
                        {% else %}
                        <td>
                            <a href="{% url 'inventoryApp:book_detail' book.id %}" class="btn btn-sm btn-info">View Details</a>
                        </td>
                        {% endif %}
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5">No books available.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}